<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<container class="text-center">
    <row class="text-align-center">
        <h3>Your account has been verified. You can now login using your username and password.</h3>
        <button type="button" class="btn btn-primary" onclick="window.open('', '_self', ''); window.close();">
            Close tab and proceed
        </button>
    </row>
</container>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</html>
